@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.topic{
    font-size: 180%;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: blue;
    font-family: 'Seymour One', sans-serif;
}
.width-80{
    width: 80%;
}


.utilityButton{
    padding: 2px;
    border-radius: 30px;
    background-color: blue;
    color: antiquewhite;
    font-weight: bolder;
}

.hero-page{
    padding: 50px;
    font-size: xx-large;
}

@media (max-width:750px) {
    .topic{
        font-size: xx-large;
    }
    .hero-page{
        display: flex;
        flex-direction: column;
        padding: 20px;
        font-size: medium;
    }

    .hero-page div p{
        width: 100%;
    }

    .hero-image{
        width: 100%;
        /* opacity: 0.3; */
        display: none;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
}
/* Image opcity increased with : https://www2.lunapic.com/editor/ */


/* logo create from : https://app.logo.com/ */